* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  overflow: hidden;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
