@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");

.display {
  height: 900px;
  width: 450px;
  transition: filter 5s ease;
  background-color: black;
  padding: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  z-index: 0;
  width: 100%;
  height: 520px;
  background-color: white;
  position: absolute;
  top: -10px;
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.title {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  color: black;
  font-size: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}

.subtitle {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.background {
  width: 100%;
  height: 420px;
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 0;
  filter: blur(0);
}

.background .image {
  width: 100%;
  height: auto;
  z-index: 3;
}

.gradient {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(40px);
  z-index: 2;
}

.wrapper {
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  top: 485px;
  position: absolute;
}

.wrapper h1 {
  font-family: "IBM Plex Sans";
  font-weight: 200;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 21px;
  margin-bottom: 0;
  overflow: hidden;
}

.container1 {
  margin-right: 10px;
}

.container2 {
  margin-left: 6px;
}

.panel {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.infopanel {
}
.moodspanel {
}

.statpanel {
}

.statpanel-title {
  font-size: 23px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.infobox {
  font-family: "IBM Plex Sans";
  width: 100%;
}

.infobox h1 {
  font-size: 23px;
  margin-bottom: 10px;
}

.infobox ul {
  color: white;
  font-size: 15px;
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
  margin-left: 10px;
}

.infobox li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.infobox .nonum {
  list-style-type: none;
}

.entry-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 10px;
}

.entry-wrapper .entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.entry-wrapper .entry h1 {
  font-size: 15px;
  margin-bottom: 5px;
}

.outer-bar {
  position: relative;
  height: 6px;
  width: 100%;
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}

.inner-bar {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  max-width: 100%;
  width: 0%;
  transition: width 0.8s;
}

.error-message {
  font-family: "IBM Plex Sans";
  font-size: 50px;
  z-index: 10;
  color: white;
  position: relative;
}

.filter-wrapper {
  position: relative;
  margin-top: auto;
}

.filter-subwrapper {
  width: 140px;
  margin-left: 10px;
}

.filter-box {
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  bottom: 0;
  right: 0;
  display: flex;
  float: right;
}

.filter-box ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.filter-box li {
  position: relative;
  margin-right: 15px;
  font-family: "IBM Plex Sans";
  font-size: 15px;
}

.filter-wrapper li:hover {
  cursor: pointer;
}

img {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: transform 0.4s ease;
}

img:hover {
  cursor: pointer;
}

.modal-backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  background-color: rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30%;
  background-color: white;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 0px;
}

.modal h1 {
  color: black;
  font-family: "IBM Plex Sans";
}

.modal h2 {
  color: black;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.modal button {
  background-color: #000000;
  font-family: Arial;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  display: flex;
  padding: 6px 15px;
}

.modal button:hover {
  cursor: pointer;
  color: rgb(235, 235, 235);
}
